*{

margin: 0;
padding: 0;
box-sizing: border-box;

}
body{

font-family: sans-serif;

}
ul{

list-style-image: none;
width: 100%;

}
li{

padding: 5px;
background: rgb(202, 201, 201);
margin: 4px;

}


.terminada{

background-color: green;
font-weight: bold;
text-decoration: line-through;
}
li button{

border: 1px solid black;
    background-color: red;
    border-radius: 50px;
    padding: 0px 2px;
    color: white;
    cursor: pointer;
   float: right;
}